.style-it {
  font-family: 'Trebuchet MS', sans-serif;
  color:#8cabed;
}
.mccowie-pic {
  height: 300px;
  width: 350px;
  border-radius: 50%;
  border: 5px solid #57ebde;
}

.bordertitle{
  border: 3px dashed black;
  padding: 30px;
  margin-right: 1139px;
}

.bubble{
  background-color: #ffabd5;
  height: 100px;
  width: 100px;
  padding 8px;
  
  display: flex;
  align-itenms: flex-end;
  justify-content: space-evenly;
  
  border-radius: 50%;
}

#heart {
  position: relative;
  width: 50px;
  height: 45px;
  margin-top: 5px;
  animation: bounce 1000ms infinite;
}

#heart::before, #heart::after {
  content: "";
  position: absolute;
  top: 25px;
  width: 26px;
  height: 40px;
  border-radius: 25px 25px 0 0;
  background: red;
}

#heart::before {
  left: 25px;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

#heart::after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes bounce{
  0%{transform: translateY(0);}
  20%{transform: translateY(-20px);}
  40%{transform: translateY(0);}
}

#notify{
  position: fixed;
  background-color: #abe0ff;
  height: 20px;
  width: 300px;
  bottom: 0;
  left: 0;
  right: 0;
}
